name: MLR Claims Main

on:
  push:
    branches:
      - main
    paths:
      - "genstudio-mlr-claims-app/**"
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/aio-app-template.yml
    with:
      app: genstudio-mlr-claims-app
      environment: '["Genstudio Engineering 01 - genstudio-mlr-claims-app - workspace Production", "GenStudio GA PAT04 - genstudio-mlr-claims-app - workspace Production"]'
    secrets: inherit
